#optimize-engine-wrapper {
  position: relative;
  background: var(--black);
}
#optimize-engine {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--black);
  background-image: url("images/optimize-engine.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
